body {
  font-family: Helvetica,sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  margin: 0 auto;
  opacity: 0.9;
  text-align: center;
}

div {
  display: block;
}


/* Navigation */

header {
  background-color: black;
  z-index: 5;
  width: 100%;
  position: fixed;
  height: 68px;
  border-bottom: 1px solid seashell;
  align-items: center;
}

header img {
  height: 50px;
  padding-left: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav a {
  text-decoration: underline;
  color: seashell;
}

nav span {
  display: inline-block;
  text-align: right;
  padding: 20px 10px;
}


/* Content */

.container {

  margin: 0 auto;
  display: flex;           /* establish container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center container */
  align-items: center;     /* center container items */
}

.main {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center text vertically */
  align-items: center;     /* center text horizontally */
}

.img-content {
  text-align: center;
  width: 100%;
  background-color: black;
}

.feat {
  width: 1000px;
  height: 700px;
  padding-top: 20px;
}

.item {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.item img{
  height: 200px;
  width: 300px;
  padding: 10px;
}

.item span {
  text-align: center;
}


.locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin-top: 10px;
}

.locations h2 {
  margin-bottom: 15px;
}

.location {
  display: inline-flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  opacity: 1;
  margin-top: 15px;
  margin-right: 40px;
}

.contact {
  height: 200px;
  padding-top: 10px;
}

/* Footer */

footer {
  margin-left: 20px;
  text-align: left;
}
